.project__details-container {
    padding: 2rem;
    margin: 1rem 2rem;
    border: 1px solid var(--color-black);
    display: flex;
    flex-direction: column;
}

.project__info {
    display: flex;
    justify-content: space-between;
}

.project__info-text a {
    text-decoration: none;
    background-color: var(--color-secondary);
    display: block;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: var(--color-light);
}

.project__info-text a:hover {
    background-color: transparent;
    color: var(--color-secondary);
    outline: 2px solid var(--color-secondary);
}

.project__info-text .incomplete {
    margin: 0;
    color: var(--color-danger);
}

.project__info-text .complete {
    margin: 0;
    color: var(--color-success);
}

.project__details-container h2, 
.project__info-text p,
.project__info-text h3 {
    margin: 0.5rem 0;
    text-align: left;
}

.project__info-text .project__info-id {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color-light);
    background-color: var(--color-primary);
    text-align: center;
    padding: 0.3rem;
    border-radius: 1rem;
    width: 20rem;
}

.subtasks__container {
    margin: 1rem 5rem;
}

.subtasks__container h3 {
    text-align: left;
}

.project__info .btn-delete {
    cursor: pointer;
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    border-radius: 0.3rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.project__info .btn-delete:hover {
    background-color: transparent;
    outline: 2px solid var(--color-danger);
    color: var(--color-danger);
}

.filter__container {
    display: flex;
}

.subtasks__container .btn-alert {
    background-color: var(--color-info);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: var(--color-white);
    font-weight: 600;
}

.subtasks__container .btn-alert:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .subtasks__container {
        margin: 1rem 0;
    }

    .project__info {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .project__info-text .project__info-id {
        width: auto;
        padding: 0.7rem;
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {

    .filter__container {
        flex-direction: column;
    }

    .filter__container button.btn-alert {
        margin: 0.3rem 0;
    }

}